/* ==========================================================================
    Typography
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
body {
  font-family: 'Proxima Nova';
}
h1 {
  font-family: 'Cookie', cursive;
/*  font-family: 'Cinzel', serif; 
*/  font-family: 'Proxima Nova', sans-serif;

  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 50px !important;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 50px;
  color: #f1f1f1 !important;
}

h2 {
  font-family: 'Proxima Nova';
  color: #3e3e3e;
  font-size: 25px;
  text-transform: uppercase;
}

h3 {
  margin-left: 2%;
}

span {
  font-size: 50px;


}
span, p {
  font-family: 'Proxima Nova';
}

/* Main Containers
   ========================================================================== */
.header {

  	height: 250px;
  	/* max-height: 600px; */
  	width: 100%;
  	background-color: hsla(200,40%,30%,.4);
  	background-image:
  		url('../Images/forest1.png'),
  		url('../Images/forest2.png'),

  		url('../Images/forest3.png');

  	background-repeat: repeat-x;
  	background-position:
  		0 20%,
  		0 95%,
  		0 0,
  		0 100%,
  		0 0;
  	background-size:
  		2500px,
  		800px,
  		500px 200px,
  		1000px,
  		400px 260px;
  	animation: 50s para infinite linear;
  	}

  @keyframes para {
  	100% {
  		background-position:
  			-5000px 20%,
  			-800px 95%,
  			500px 0,
  			1000px 100%,
  			400px 0;
  		}
  	}



  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }





/*jumbotron {
  background-image: url('../Images/tv.png');
  background-repeat: repeat-x;
} */
.trend-container {
  /*height: 100vh;*/
  background-color: #fcfcfc;
}

#bridge {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 40vw;
}

#result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#trending-topics {
  text-align: center;
}

.panel {
  border-color: transparent !important;
}
.trend-container {
  background-color: lightgray !important;
}

/* News Source Button Containers
  ========================================================================== */

.news-sources {

}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50vw;
  margin: 20px auto;
}

.news-btn {
  max-height: 8vw;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.news-btn:hover {
  transform: scale(1.05);
}

/* Supporting Styles
========================================================================== */

.flex {
  display: flex;
  height: 33vh;
}

/* This class is added and removed to hide elements on the page */
.invisible {
  display: none;
}

.word {
  cursor: pointer;
  padding: 0 11px;
}

#result-container > img {
  max-width: 180px;
  margin: 7px 2px;
  flex-grow: 1;
}

/* Animations
  ========================================================================== */

.fade-in {
  animation: fadeIn ease-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

.fade-in {
 opacity: 0;  /* make things invisible upon start */
 animation: fadeIn ease-in 1;
 animation-fill-mode: forwards;
 animation-duration: 1s;
}

.fade-in.one { animation-delay: 0.2s; }
.fade-in.two { animation-delay: .4s; }
.fade-in.three { animation-delay: .8s; }
.fade-in.four { animation-delay: 1.0s; }



.pulse-button {
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 0 rgba(144, 223, 170, 0.61);
  animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover {
  animation: none;
}


/*@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}*/
